header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {

    width: 100px;
  }

  div {
    display: flex;

    span {
      margin: 0 20px;
      font-size: 0.875rem;
    }
  }
}

#label-name {
  color: #A8A8A8;
  font-weight: 400;
}

#label-logout {
  color: #49B4BB;
  cursor: pointer;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  #label-name {
    display: none;
  }
}
