<div class="login-body">
  <main class="login-container">
    <header>
      <img src="Logo.png" alt="Logo">
    </header>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="fields-container">
        <mat-form-field appearance="outline">
          <input matInput type="email" placeholder="Email" formControlName="username" required>
          <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            Email inválido
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Senha" formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Senha inválida
          </mat-error>
        </mat-form-field>
        <mat-checkbox color="primary" formControlName="rememberMe">Lembrar minha senha</mat-checkbox>
      </div>
      <footer class="login-footer">
        <button id="register-btn" [disabled]="isLoading" type="button" mat-button (click)="onRegister()">Criar Conta</button>
        <button id="login-btn" [disabled]="isLoading" mat-flat-button color="primary" type="submit"
          >Acessar</button>
      </footer>
    </form>
  </main>
</div>
