.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

.login-container{
  min-height: 16rem;
  max-width: 25rem;
  width: 100%;

  p {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    margin-bottom: 1rem;
  }

  header {
    margin-bottom: 1rem;
  }

  form{
    mat-form-field {
      width: 100%;
    }
  }
}

.fields-container {
  display: flex;
  flex-direction: column;
}

.login-footer {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;

  button {
    width: 180px;
    border-radius: 8px;
  }
}

