@use 'sass:map';
@use '@angular/material' as mat;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #0E282A,
    20: #1D5054,
    25: #27686D,
    30: #319086,
    35: #3BA8A0,
    40: #49B4BB,
    50: #49B4BB,
    60: #5FC5C6,
    70: #75D5D2,
    80: #8BE6DD,
    90: #A1F6E8,
    95: #CFFBFA,
    98: #E7FEFF,
    99: #F3FFFF,
    100: #FFFFFF,
  )
);

$_rest: (
  secondary: map.get(mat.$azure-palette, secondary),
  neutral: map.get(mat.$azure-palette, neutral),
  neutral-variant: map.get(mat.$azure-palette, neutral-variant),
  error: map.get(mat.$azure-palette, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);

$frontend-theme: mat.define-theme((color: (theme-type: light,
        primary: $_primary,
        tertiary: mat.$blue-palette ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($frontend-theme);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  app-root{
    flex: 1;
  }
}
